#all{
  width: 80%;
  display: flexbox;
  margin-left: 10%;
}

#tb-header{
  border-color: black;
}
#btn{
  color: white;
  background-color: #0167ee;
  border: 20%;
  width: 65px;
}

#deleteCol{
  width: 80px;
  display: flex;
  align-items: center;
  align-content: center;
}
#links{
  color: #0167ee;
}

td{
  width: 30%;
}